$nav-padding: 8.8em;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}




@import '_projectDefaults';
@mixin center-pad($padding){
  margin-right: auto;
  margin-left: auto;
  padding-top: $padding;
}
body {
  margin: 0;
  color: #244751;
  background-color: $primarygray;
  font-family: 'Roboto Condensed', sans-serif;
}

@media (max-width: 700px){
  body{
    font-size: 36px;
  }
}

.container {
  width: 28.1em;
  height: $fill;
  background-color: white;
  @include center-pad($nav-padding);
  padding-bottom: $nav-padding;
  padding-left:2em;
  padding-right:2em;
}


.submit-button, #change-button {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 120%;
  border-radius: 0.9em;
  height: 2em;
}

