#nav-bar {
  height: 80px;
  width: 100%;
  padding-right: 2em;
  padding-left: 2em;
  position:fixed;
  background-color: #00a087;
  color: #e8fdff;
}

#nav-bar .logo {
  float:left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float:left;
  height:100%;
  line-height:2.5;
  margin-left: 10px;
  font-size: 200%;
}