#nav-bar {
  height: 80px;
  width: 100%;
  padding-right: 2em;
  padding-left: 2em;
  padding-top:10px;
  position:fixed;
  background-color: #00a087;
  color: #e8fdff;
}

#nav-bar .logo {
  float:left;
  height: 75px;
  width: 75px;
}

#nav-bar .header {
  float:left;
  height:100%;
  line-height:2;
  margin-left: 10px;
  font-size: 200%;
}

#nav-bar .compose {
  height: 85%;
  float: right;
  background-color: #e5f5f3;
  color: #00a087;
  border: 1px solid #7e7e7e;
  border-radius: 10px;
  font-size: 130%;
}

#nav-bar .compose:hover {
  background-color: #F5F5DC;
  color: #7e7e7e;
}