

article.tweet {
  border: 1px solid;
  border-radius: 10px;
  border-color: #b3b3b3;
}

article.tweet > header {
  height: 50px;
  width: 100%;
  background-color: #eee;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.avatar {
  float: left;
  height: 40px;
  width: 40px;
  padding: 2px;
  border: 1px solid;
  border-color: #b3b3b3;
  border-radius: 10px;
  margin: 5px;
}

article.tweet > header > .name {
  float:left;
  height:100%;
  font-size: 140%;
  font-weight: bold;
  line-height: 1.6;
  margin-left: 8px;
}

article.tweet > header > .atuser {
  float:right;
  height:100%;
  font-size: 100%;
  line-height: 2.5;
  margin-right: 8px;
}

article.tweet > footer {
  border-top: 1px solid;
  border-color: #b3b3b3;
  padding: 5px;
}

article.tweet > p {
  padding: 8px;
}

